
.span1.btn.btn-mini.menu#rotate_left="<"
.span1.btn.btn-mini.menu#prev_control="<"
.row#image_box
  #current_image
    Loading...
.span1.btn.btn-mini.menu#next_control=">"
.span1.btn.btn-mini.menu#rotate_right=">"
